<launch>
    <!-- ROS Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="nics_master" args="manager" output="screen">
            <rosparam command="load" file="$(find nics_rse)/launch/configs/nics_pose_estimation.yaml" />
            <rosparam command="load" file="$(find nics_rse)/launch/configs/VDRSE_SUBPUB_topics.yaml" />
    </node> 

    <!-- VdrseNodelet -->
    <node pkg="nodelet" type="nodelet" name="vdrse" args="load nics/VdrseNodelet nics_master" output="screen">
        <!-- <rosparam command="load" file="$(find nics_rse)/launch/configs/VDRSE_SUBPUB_topics.yaml" /> -->
    </node> 
</launch>